@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,700i,800,800i,900|Open+Sans&display=swap");
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

:root {
  --primary: #5fb7ea;
  --primaryForm: #00c8d6;
  --primaryRGBA: rgba(0, 0, 0, 0.3);
  --maingrey: #fafafa;
  --darkgrey: #5f5e5e;
  --mainwhite: #fff;
  --mainblack: #222;
  --maintransition: all 300ms ease-in-out;
  --spacing: 0.3rem;
}

body {
  font-family: "Open Sans", sans-serif !important;
  background: var(--maingrey) !important;
  color: var(--mainblack);
}

.home,
.about,
.contact,
.products,
.product,
.shopping {
  min-height: 93vh;
  padding-top: 4rem;
}

footer {
  z-index: 99999;
}

.default {
  min-height: 93vh;
}

.text-title {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  letter-spacing: var(--spacing);
  text-transform: capitalize;
}

.text-main {
  color: var(--primary);
}

.navbar-list a,
.navbar-list a.chosen,
.navbar-list a:link,
.navbar-list a:hover {
  font-size: 1.8rem;
  color: var(--mainblack);
  text-decoration: none;
  transition: var(--maintransition);
}

.home-icon {
  font-size: 2rem;
}

.home-link,
.home-link:hover {
  color: #222;
  text-decoration: none;
}

.cart-total-icon-nav {
  font-size: 2rem;
}

.active {
  padding-left: 10px;
  border-left: 1.2rem solid #5fb7ea;
}

.primary-button-container {
  display: inline-flex;
  padding: 5px 5px;
  border: 2px solid var(--primary);
  transition: var(--maintransition);
}

a.primary-button,
a.primary-button:link {
  padding: 7px 15px;
  background: var(--primary);
  font-size: 1rem !important;
  color: #fff !important;
  text-decoration: none;
  text-shadow: none;
  border: 2px solid var(--primary);
  transition: var(--maintransition);
}

a.primary-button:hover,
.primary-button-container:hover {
  border: 2px solid var(--mainwhite);
}

a.primary-button:hover {
  background: var(--mainwhite);
  color: var(--mainblack) !important;
}

.footer-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center center;
  min-height: 7vh;
  color: var(--mainwhite);
  background: var(--darkgrey);
}

.copyright {
  letter-spacing: 1px;
  font-style: italic;
}

.social-links {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  font-size: 1.4rem;
  width: 100%;
}

@media screen and (max-width: 500px) {
  .footer-section {
    display: flex;
    flex-direction: column;
    min-height: 7vh;
    padding-top: 1rem;
    color: var(--mainwhite);
    background: var(--darkgrey);
  }

  .social-links {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.about-left {
  margin-right: 1.5rem;
}

.about-title {
  font-size: 2rem;
  margin-top: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
}

.underline {
  width: 20%;
  margin: 0 auto;
  border-bottom: 3px solid var(--primary);
  opacity: 0.6;
  border-radius: 3px;
}

.about-text p {
  opacity: 0.7;
}

.about-right {
  margin-top: -2rem;
}

.about-right:last-child() {
  text-align: center;
}

.about-button {
  display: flex;
  justify-content: center;
  padding-top: 1rem !important;
}

.overlay-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.350);
}


.overlay {
  width: 30%;
  height: 20rem;
  border-radius: 3px;
  background: var(--mainwhite);
}

.overlay-close-button {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: right;
  padding: 10px
}

.overlay-content {
  padding: 0 1rem;
}

.close-button {
  padding: 5px 10px;
  background: #ccc;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bolder;
  border: 1px solid #ccc;
  transition: var(--maintransition);
}

.close-button:hover {
  cursor: pointer;
  background: #fff;
  border: 1px solid #ccc;
}

.more-info {
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media screen and (max-width: 800px) {
  .overlay-container {
    min-width: 100vw !important;
    min-height: 100vh !important;
  }

  .overlay {
    width: 60% !important;
    height: 20rem;
  }
}

@media screen and (min-width: 900px) {
  .overlay-container {
    min-width: 100vw !important;
    min-height: 100vh !important;
  }

  .overlay {
    width: 60% !important;
    height: 20rem;
  }
}


/* CONTACT FORM STYLES */
form {
  display: grid;
  padding: 1em;
  background: #f9f9f9;
  margin: 2rem auto 0 auto;
  max-width: 600px;
  padding: 1em;
  border-radius: 3px;
}

form input {
  background: #fff;
  border: 1px solid #9c9c9c;
}

form button {
  background: lightgrey;
  padding: 0.7em;
  width: 100%;
  border: 0;
}

form button:hover {
  background: var(--primary);
  opacity: 0.5;
}

label {
  letter-spacing: 1px;
  padding: 0.5em 0.5em 0em 0;
}

input,
textarea {
  padding: 0.7em;
  margin-bottom: 0.5rem;
  border-radius: 3px;
  border: 0 !important;
}

input:focus,
textarea:focus {
  outline: 1px solid var(--primaryForm);
}

.submitStyle {
  border-radius: 3px;
  transition: var(--maintransition);
}

.submitStyle:hover {
  color: var(--mainblack);
  opacity: 0.8;
}

.submitStyle:focus {
  outline: none;
}

::placeholder {
  font-style: italic;
}

.showError {
  width: 100%;
  font-size: 1.4rem;
  color: var(--mainwhite);
  background: rgb(196, 134, 134);
  padding: 10px 15px;
  letter-spacing: 1.5px;
  text-align: center;
  border-radius: 3px;
}

.errorBorder {
  width: 25%;
  margin: 0.5rem auto !important;
  padding: 3px;
  border: 1px solid rgb(196, 134, 134);
  border-radius: 3px;
}

.showConfirmation {
  width: 100%;
  font-size: 1.4rem;
  color: var(--mainwhite);
  background: rgb(59, 155, 59);
  padding: 10px 15px;
  letter-spacing: 1.5px;
  text-align: center;
  border-radius: 3px;
}

.confirmationBorder {
  width: 45%;
  margin: 0.5rem auto !important;
  padding: 3px;
  border: 1px solid rgb(59, 155, 59);
  border-radius: 3px;
}

@media screen and (min-width: 900px) {
  .errorBorder {
    width: 40% !important;
  }

  .confirmationBorder {
    width: 70%;
  }
}

@media screen and (max-width: 800px) {
  .contact-border {
    width: 100% !important;
  }

  .errorBorder {
    width: 50% !important;
  }

  .confirmationBorder {
    width: 70%;
  }
}

@media (min-width: 400px) {
  form {
    grid-template-columns: 200px 1fr;
    grid-gap: 16px;
  }

  label {
    text-align: right;
    grid-column: 1 / 2;
  }

  input,
  button {
    grid-column: 2 / 3;
  }
}

.contact-title {
  width: 15%;
  text-align: center;
  margin: 2rem auto;
}

.contact-title p {
  font-size: 2rem;
}

.contact-border {
  width: 70%;
  margin: -1rem auto;
  border-top: 3px solid var(--primaryForm);
}

/* SERVICES SECTION */
.service-main-container,
.feature-main-container {
  background: var(--maingrey);
}

.services-section,
.feature-section {
  display: flex;
  width: 75%;
  margin: 0 auto;
  padding: 2.5rem 0;
  text-align: center;
}

.product-section {
  display: grid;
  grid-template-columns: repeat(4, minmax(300px, 1fr));
  text-align: center;
  padding-top: 4rem;
}

@media screen and (max-width: 1050px) {
  .product-section {
    grid-template-columns: repeat(3, minmax(250px, 1fr));
  }
}

.filtered-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 80%;
  margin: 0 auto 1.5rem;
  padding: 15px 25px;
  border: 1px solid #ccc;
  border-radius: 5px;

  -webkit-box-shadow: 1px 1px 3px 1px #ccc;
  -moz-box-shadow: 1px 1px 3px 1px #ccc;
  box-shadow: 1px 1px 3px 1px #ccc;
}

/* FILTER CHECKBOXES */
input[type=checkbox] {
  display: none;
}

input[type=checkbox]+label:before {
  font-family: FontAwesome;
  display: inline-block;
}

input[type=checkbox]+label:before {
  content: "\f096";
}

input[type=checkbox]+label:before {
  letter-spacing: 10px;
}

input[type=checkbox]:checked+label:before {
  content: "\f046";
  letter-spacing: 5px;
}

input[type=range] {
  outline: none;
}

.range-style {
  display: flex;
  justify-content: center;
  grid-column: 2 / 5;
}

@media screen and (max-width: 800px) {
  .filtered-list {
    margin: 4rem auto -2.5rem;
  }
}

.filter-item-name {
  display: inline-block;
  letter-spacing: 1.5px;
}

.filter-item-name::first-letter {
  text-transform: uppercase !important;
}

.filter-section {
  padding-top: 1rem;
}

.feature-title,
.feature-price {
  letter-spacing: 1px;
  font-size: 1.25rem;
}

.feature-title {
  font-weight: 800;
}

.feature-price::before {
  content: '€'
}

.feature-title::first-letter {
  text-transform: uppercase;
}

@media screen and (min-width: 800px) {
  .product-section {
    padding: 0em 2rem 2rem 2rem;
  }

  .filter-section {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem 1rem 2rem;
  }
}

.service-section-box,
.feature-section-box {
  margin-right: 1rem;
  margin-bottom: 1rem;
  padding: 15px 25px;
  transition: var(--maintransition);
  border-radius: 3px;

  -webkit-box-shadow: 1px 1px 2px 1px #ccc;
  -moz-box-shadow: 1px 1px 2px 1px #ccc;
  box-shadow: 1px 1px 2px 1px #ccc;
}

.feature-section-box {
  position: relative;
}

.feature-overlay {
  display: grid;
  justify-content: center !important;
  align-items: center !important;
}

.feature-section-box:hover .feature-overlay {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.feature-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 3px;
  background: var(--maingrey);
}

.feature-overlay:not(.feature-addtocart) {
  opacity: .8;
}

.feature-details,
.feature-addtocart {
  width: 35%;
  margin: 0 auto;
  padding: 0;
  color: var(--primary);
  font-size: 2rem;
  cursor: pointer;
}

.feature-addtocart {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}

.feature-details:hover,
.feature-addtocart:hover {
  color: var(--mainblack);
  opacity: 1;
}

.single-page-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 85vh;
}

@media screen and (max-width: 800px) {
  .single-page-container {
    grid-template-columns: 1fr;
    height: 110vh;
  }

  .right-single-section {
    padding: 3rem !important;
  }
}

.left-single-section {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}

.right-single-section {
  padding: 3rem 3rem 3rem 0;
}

.single-product-title {
  font-size: 2rem;
  letter-spacing: 2px;
  font-weight: bolder;
  margin-bottom: 1rem;
}

.single-product-company-span {
  font-size: 1.2rem;
}

.single-product-company {
  display: inline-block;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.single-product-title::first-letter,
.single-product-company::first-letter {
  text-transform: uppercase;
}

.single-product-price {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.single-product-price::before {
  content: 'Price: €'
}

.button-container {
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: space-around;
  margin-top: 5rem;
}

.fullwidth {
  width: 100% !important;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
}

.service-section-box:hover {
  color: var(--mainwhite);
  background: rgb(194, 194, 194);
}

.feature-img-item {
  width: 80%;
  object-fit: contain;
  margin-bottom: 1rem;
}

.feature-single-item {
  font-size: 2rem;
  color: var(--primaryForm);
  margin-bottom: 1rem;
}

.service-icon {
  font-size: 3rem;
  margin-bottom: 2rem;
  color: var(--primary);
  transition: var(--maintransition);
}

.service-section-box:hover .service-icon {
  color: var(--mainwhite);
}

.service-title-align {
  text-align: center;
}

.title {
  font-size: 1.3rem;
  font-weight: bolder;
}

.title-desc {
  font-size: 1.2rem;
}

@media screen and (max-width: 900px) {

  .services-section,
  .feature-section {
    width: 80%;
    flex-direction: column;
    padding: 1.5rem 0;
  }

  .service-section-box,
  .feature-section-box {
    margin: 1rem 1rem;
    -webkit-box-shadow: 1px 1px 2px 1px #ccc;
    -moz-box-shadow: 1px 1px 2px 1px #ccc;
    box-shadow: 1px 1px 2px 1px #ccc;
  }

  .title {
    font-size: 1rem;
    font-weight: bolder;
  }

  .title-desc {
    font-size: 1rem;
  }

  .filter-section {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-bottom: -2.5rem;
    padding-top: 1rem;
  }

  .product-title {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 1px;
  }

  .product-border {
    margin-top: -1rem;
    border-top: 3px solid var(--primary)
  }
}

.center {
  text-align: center;
  margin-bottom: 2.5rem;
}

.header-back {
  background: url('/resources/page-images/images/productsBcg.jpeg') center/cover no-repeat;
  height: 40vh !important;
}

.product-title {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.product-border {
  margin-top: -1rem;
  border-top: 3px solid var(--primary)
}

.cart-btn {
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 3px;
  width: 2rem;
  border-radius: 3px;
  outline: none;
  color: #5f5e5e;
  border: 1px solid #ccc;
  background: #fff;
}

.cart-btn:hover {
  color: #000;
  border: 1px solid #000;
}

.cart-total {
  margin-top: 1.7rem;
  text-align: center;
  letter-spacing: 2px;
  font-size: 1.3rem;
}

.checkout,
.checkout a {
  width: 40%;
  font-size: 1rem;
  padding: 5px;
  margin: .7rem auto;
  margin-top: 2rem !important;
  color: var(--mainwhite);
  text-transform: uppercase;
  background: var(--primary) !important;
  border: 2px solid var(--primary);
  border-radius: 3px;
  transition: var(--maintransition);
}

.added-product-in-component {
  position: fixed;
  top: 15%;
  left: 10%;
  width: 80%;
  transition: translate(-50%, -50%);
  z-index: 9999;
}

.special {
  color: var(--mainwhite) !important;
  text-decoration: none !important;
  border: none !important;
}

@media screen and (min-width: 900px) {
  .checkout {
    width: 100%;
  }
}

.special:hover {
  color: var(--primary) !important;
  background: var(--mainwhite) !important;
}

.checkout:hover {
  cursor: pointer;
  color: var(--primary) !important;
  background: var(--mainwhite) !important;
  border: 2px solid var(--primary);
}

.checkout:hover .special {
  color: var(--primary) !important;
  cursor: pointer;
  background: var(--mainwhite) !important;
}

.cart-total-icon {
  color: var(--primary);
  font-size: 5rem;
  margin-top: -1.5rem !important
}

.checkout-top-margin {
  margin-top: -.4rem !important;
}

.cart-items {
  display: flex;
  flex-flow: column
}

.cart-items-headers {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
  font-size: .85rem;
  text-transform: uppercase;
}

.cart-items-headers:first-child {
  margin-top: 2rem;
}

@media screen and (max-width: 800px) {
  .cart-items-headers:first-child {
    margin-top: 3.5rem;
  }
}